#board{
  height: 525px;
  width: 250px;
  background-color: lightgray;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.currentPiece{
  background-color: purple;
}


button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

body{
  height: 550px;
  width: 750px;
  
}

#head{
  background-color: blue;
  height: 10px;
  width: 10px;
  position: relative;
}
