

#container{
  margin: 1rem;
}


body{
  height: 565px;
  width: 750px;
  
}


input{
  height: 25px;
  width: 250px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 1rem;
  font-size: 20px;
} 

p{
  padding:0px;
}